.card {
    border-radius: 8px;
    background-color: var(--color2);
    box-shadow: var(--color5) 0px 3px 5px 0px;
}

.card1{
    height: 100%;
    
}

.card2:nth-child(2) {
    margin-top: 16px;
}

.card3 {
    width: 100%;

}

.ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    padding-top: 8px;
}

.a1 {
    display: block;
    color: var(--color5);
    text-decoration: none;
}


.a2 {
    display: flex;
    flex-wrap: wrap;
    color: var(--color5);
    text-decoration: none;
}

.a3 {
    display: flex;
    flex-wrap: wrap;
    color: var(--color5);
    text-decoration: none;
}

.image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px 8px 0 0;
}

.a1 .image {
    height: 200px;
}

.a2 .image {
    width: 50%;
    border-radius: 8px 0 0 8px;
}

.a3 .image {
    border-radius: 8px 0 0 8px;
}

.content {
    padding: 16px;
    color: var();
    min-height: 200px;
    display: grid;
    align-items:stretch;
    
}

.a3 .content {
    width: 50%;
}

.a1 .content {
    max-width: 100%;
}

.date {
   color: var(--color5);
   font-weight: bolder;
   text-align: end;
}

.description {
    text-wrap: wrap;
}

.tag {
    padding: 4px;
    border: 1px solid aliceblue;
    background-color: var(--color2)
}

@media screen and (min-width:1350px) {
    .a3 .image {
        width: 50%;
    }
}

@media screen and (max-width:1350px) {
    .card1 {
        max-width: 100%;
    }

    .a1 .image {
        background-size: cover;
    }

    .a3 .image {
        background-size: cover;
        height: 200px;
    }

    .a2 .content {
        width: 50%;
    }

    .a3 .content {
        width: 100%;
    }

    .a3 {
        display: block;
        height: 100%;
    }
}