.card {
    border-radius: 8px;
    background-color: var(--color4);
    box-shadow: var(--color3) 0px 3px 5px 0px;
    height: 100%;
    min-height: 350px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
}

.card_vertical {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    min-height: 180px;
}

.image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px 8px 0 0;
}

.card_vertical .image {
    border-radius: 8px 0px 0px 8px;
}

.content {
    padding: 16px;
}

.date {
    font-weight: bolder;
    text-align: end;
    position:absolute;
    padding: 10px;
    margin: 10px;
    background-color: var(--color4);
    border-radius: 4px;
    color: var(--color1);
}

.title {
    text-shadow: var(--color3) 0px 3px 5px;
    color: var(--color1);
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: -15%;
}

.description {
    padding: 8px 0;
    text-wrap: wrap;
    max-width: 350px;
    color: var(--color1);
}

.ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    padding-top: 8px;
    justify-content: space-between;
    position:relative;
    top: 85%;
}

.tag {
    padding: 4px;
    border: 1px solid var(--color4);
    border-radius: 4px;
    background-color: var(--color2);
    color: var(--color4);
    box-shadow: var(--color3) 0px 3px 5px 0px;
}






/* @media screen and (min-width:1350px) {

}

@media screen and (max-width:1350px) {

    
} */