.main {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid var(--color5); */
    justify-content: center;
    gap: 16px;
    flex-grow: 1;
}

.first {
    flex: 1;
}


.sub {
    display: block;
    flex: 1;
}

.title {
    color: var(--color5);
    padding: 12px 0;
}

@media screen and (max-width:1200px) {
    .main {
        display: block;
    }

    .sub {
        margin: 16px 0;
    }
    
}