.main {
    border: 1px solid var(--color4);
    
    padding: 16px 32px 16px 16px;
}

.arrows {
    position: relative;
    width: 0;
    height: 0;
    right: -96.5%;
    top: 2px;
}

.arrow_up {
    text-align: center;
    align-content: center;
    position: absolute;
    background-color: #da0808;
    color: #eee;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color3);
}

.menu {
    margin: 8px;
    display: flex;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.menu span {
    color: var(--color1);
    background-color: var(--color4);
    padding: 8px;
}

.menu input {
    font-size: 1.2rem;
    padding: 4px;
}

.input_header {
    font-size: 2rem;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid var(--color4);
}