:root {
  --color1: #F8FAFC;
  --color2: #D9EAFD;
  --color3: #BCCCDC;
  --color4: #9AA6B2;
  --color5: #454b50;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color1: #303841;
    --color2: #3A4750;
    --color3: #EA9215;
    --color4: #EEEEEE;
    --color5: #EEE */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
  background-color: var(--color1);
  margin-bottom: 20px;
}

.main {
  width: 1200px;
  margin: auto;
}