:root {
  --color1: #F8FAFC;
  --color2: #D9EAFD;
  --color3: #BCCCDC;
  --color4: #9AA6B2;
  --color5: #454b50;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  background-color: var(--color1);
}